/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './example';
@import './utils/variables';
@import './utils/breakpoints';
@import './base/base';
@import './base/container';
@import './components/gallery';